.fs-large {
    font-size: 36px;
    list-style-position: inside
}
.text-red {
    color: rgb(8, 97, 50);
}
.fs-medium {
    font-size: 18px;
}
.fs-small {
    font-size: 12px;
}

.fontfam-large {
    font-family: 'Roboto', sans-serif;
font-family: 'Tilt Prism', cursive;
}
.fontfam-small {
    font-family:  'Golos Text', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Prism', cursive;
}
.margin-product {
    width: 350px;
    height: 50px;
    background-color: rgb(176, 202, 202);
 margin: auto;
}
.margin-header {
    width: 400px;
    height: 60px;
    margin: auto;
}

.margin-index {
    width: 800px;
    height: 60px;
    margin: auto;
}
.color-link{
    color: chartreuse;
}